<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Planning</a>
        <a class="nav-link" href="#">Contacts</a>
        <a class="nav-link" href="#">Settings</a>
      </div>
    </div>
  </div>
</nav>


<div style="width: 100%;">
  <div style="display: inline-block; width: 5%;">
  </div>
  @for(sheet of sheets; track sheet.id){
  <div style="display: inline-block; width: 20%;margin-right: 10px;">
    <p>{{sheet.name}}</p>
  </div>
  }
</div>
<div style="overflow-y: scroll; max-height: 90vh;">
  <div style="display: inline-block; width: 5%;">
    <app-time-overview></app-time-overview>
  </div>

  @for(sheet of sheets; track sheet.id){
  <div style="display: inline-block; width: 20%;margin-right: 10px;">
    <app-sheet-overview [sheet]="sheet" [activityTypes]="activityTypes"></app-sheet-overview>
  </div>
  }

</div>